<h1><%= @user.username %></h1>
<h2>Email: <%= @user.email %></h2>

<% if @user.admin %>
<p>This user has admin priveleges</p>
<% end %>

<p><%= link_to "Return to Products List", products_path %></p>
