<h1>Our Products</h1>

<p><%= link_to "Most Reviewed Product/s", '/most-reviewed' %></p>

<% if @products.any? %>
<ul>
  <% @products.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>
<% else %>
<p>Product List is Empty</p>
<% end %>

<% if current_user && current_user.admin == true %>
<p><%= link_to "Add New product", new_product_path %></p>
<% end %>
